body{
    /*font-family: Arial;*/
    margin-top: 0;

    margin-right: 19%;
    margin-left: 19%;

}

.header-text{
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: Arial;
    padding-top: .6em;

}
.version{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 700;
    opacity: .5;
}
/*position: absolute;  take out of the dom*/
/*and on top on each other*/
/*when use position: absolute; you have properties */
/*top: 0px left:10px right:23px bottom:23px*/
/*if there's no parent element it 'me' would refer'*/
/*to the dom or NEAREST accestor, but as some class grand-dad declare*/
/*position: relative, the 'me' now relative to the*/
/*grand-daddy class*/

/*you can stretch out the element by*/
/*left: 10px;*/
/*right: 10px;*/
/*bottom: 10px;*/


.label{
    font-size: em;
    font-family: Arial;
    font-weight: 700;
}

.input{
    border: #C2C3C4 1px solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /*background: #E8E7E6;*/
    background: #F0EFED;
    width: 93%;
    height: 1.5em;
    font-size: 25px;
    margin-bottom: .5em;
}


h2{
    margin-bottom: 1.5em;
}

button{
    background-color: #1F1E1D;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: .7em;
    width: 4em;
    height: 2em;
    border: 0;
    font-size: x-large;
}
.submit-text{
    font-family: Arial;
    font-size: .7em;
    font-weight: 600;
}
.me{
    background: lightgray;
    position: absolute;
    top: 128px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: left;
    padding-top: 71px;
    padding-left: 30px;
    z-index: 2;
}
.cousin1{
    background: white;
    position: absolute;
    top: 128px;
    font-size: small;
    font-family: "times r";
    left: 10px;
    right: 51%;
    bottom: 80px;
    text-align: left;
    padding-top: 10px;
    padding-left: 28px;
    z-index: 8;
}
.cousin2{
    background: white;
    position: absolute;
    font-size: small;
    font-family: "times r";
    top: 128px;
    /*top: 125px;*/
    left: 49.7%;
    right: 10px;
    bottom: 80px;
    text-align: left;
    padding-top: 10px;
    z-index: 8;
}
.task-text{
    padding-left: 19px;
}
.brother{
    background: white;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 5px;
    text-align: left;

    z-index: 1;
}
.sister{
    background: darkgrey;
    opacity: .8;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;
    padding-top: 128px;
    padding-left: 30px;
    z-index: 3;
}
.sister2{
    background:transparent;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    /*bottom: 40px;*/

    text-align: left;
    padding-top: 25px;
    padding-left: 30px;
    z-index: 5;
}
.dad{
    /*position: relative;*/
    
}

.grand-dad{
    padding: 50px;
    background: lightgray;
    position: relative;
    height: 34em;
}

.outer{
    background: lightgray;
    border-radius: 3px;
    width: 91%;
    height: 65%;
    position:relative;
    z-index: 90;
    margin-left: auto;
    margin-right: auto;
    /*display: table;*/
}
.inner{
    background: white;
    position: absolute;
    top: 5px;
    left: -10px;
    right: -10px;
    bottom: 3px;
    z-index: 100;
    width: 96.5%;
    height: 96%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /*overflow: scroll;*/
}

.td-name{
    padding-left: 1.2em;
    font-weight: bolder;
    font-size: 2em;
}
.td-date{
    /*opacity: .5;*/
    font-size: 1.6em;
    font-weight: 300;
    font-family: Arial;

}

.td-assigned{
    padding-left: 6em;
    font-family: Arial;
    font-size: 1.6em;
    font-weight: bold;
}

table{
    /*border: 1px solid #CCC;*/
    border-collapse: collapse;
    margin: 0 auto;
    width: 98%;
    height: inherit;
    font-size: .6em;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 120;
}
/*td{*/
    /*padding: .6em .4em .6em .4em;*/
    /*border: 0;*/
/*}*/

/*every other row, background lightgray*/
table tr:nth-child(even) td{
    background-color: lightgray;
}
td{
    padding-top: 0.6em;
    padding-bottom: .6em;
}